# General exclusions
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Exclude built Gradle files
gradle.properties
settings.gradle

# Exclude specific files in app module
app/build.gradle
app/gradle-wrapper.properties
app/settings.gradle
